.book_search {
    display: flex;
    justify-content: center;
    width: 100%;
    margin: 20px;
    margin-left: 0;
    margin-right: 0;
}
.book_search *{ 
    margin: 5px;
    border: 2px solid rgba(189, 166, 152, 1);
    border-radius: 5px;
    padding: 5px;
}
.book_search *:first-child {
    width: 100%;
    max-width: 400px;   
}

.avaliable_books {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}
.avaliable_book {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: space-between;
    width: 230px;

    padding: 15px;
    margin: 10px;
    
    text-align: center;
    border: 2px solid rgba(189, 166, 152, 0.5);
    border-radius: 10px;
}
.avaliable_book:hover {
    text-decoration: none;
    color: black;
    background: rgba(189, 166, 152, 0.2);
    transition-duration: 0.4s;
    padding: 13px;
    border: 4px solid rgba(189, 166, 152, 1);
    cursor: grab;
}
.avaliable_book_image {
    width: 100%;
    max-height: 300px;
    border-radius: 10px;
    
}
.avaliable_book_text {
    margin: 10px;
    word-wrap: break-word;
}
.avaliable_book_text_description {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.avaliable_book_text_buttons {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

/*book details*/
.book_details {
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    background: rgba(189, 166, 152, 0.1);
    padding: 15px;
    margin: 0px;
}
.book_buttons {
    text-align: center;
    background: rgba(189, 166, 152, 0.1);
    padding: 15px;
    margin: 0px;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
}
.btn_book {
    font-weight: 600;
    background: rgba(189, 166, 152, 0.5);
    margin: 15px;
}
.btn_book:hover {
    background: rgba(189, 166, 152, 1);
}

/* book trade */
.book_trade {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    border-radius: 15px;
    width: 100%;
}
.book_trade_book {
    text-align: center;
    margin: 0px;
    padding: 15px;
    border-radius: 15px;
    border-radius: 15px;
}
.book_trade_book:hover {
    background: rgba(189, 166, 152, 0.2);
    animation-delay: 0.3s;
}
.book_trade_choise_list:hover {
    background: rgba(189, 166, 152, 0.2);
    animation-delay: 0.3s;
}
.book_trade_choice {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}
.book_trade_choice .avaliable_book {
    height: calc(100% - 20px);
}

/* trade offers */
.trade_offers {
    margin: 10px;
    padding: 15px;
    border-radius: 15px;
    border-radius: 15px;
    background: rgba(189, 166, 152, 0.2);
}
.trade_offers_offer {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: space-between;
    padding: 15px;
    margin: 10px;
    text-align: center;
    background: rgba(189, 166, 152, 0.2);
    border: 2px solid rgba(189, 166, 152, 0.5);
    border-radius: 10px;
}
.trade_offers_overflow {
    max-height: 80vh;
    overflow-y: scroll;
}
.trade_offers_text {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}
.trade_offers_action {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}
.trade_offers_text .avaliable_book {
    width: 190px;
}

/* trade offer details */
.offer_details {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    max-width: 32vw;
}
.offer_details .trade_offers_text {
    background: rgba(189, 166, 152, 0.3);
    padding: 15px;
    border-radius: 15px;
}
.offer_details .avaliable_book {
    width: 150px;
}
.offer_book_details {
    padding: 10px;
    text-align: initial;
}